@import url("https://fonts.googleapis.com/css2?family=Itim&family=Oswald");

@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");


body {
 font-family: 'Itim', cursive;
 font-size: 18px;
 margin: 0px;
 background-color: beige;
 background-image: url(../images/paysage.jpg);
}
h1,h2, h3 {
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
}
a {

text-decoration: none;
}

#image-1 {
  width: 500px;
  height: 500px;
 }

